@import url('https://googleapis.com');


body {
  background:black;
  color:white;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  align-items: start; 
}


table {
  border-collapse: collapse;
  border: 1px solid white;
}
tr, th, td {
  width: flex;
  height: 32px;
  border: 1px solid white;
  padding-left: 8px;
  padding-right: 8px;
}

.button {
  color: white;
  cursor: pointer;
  margin: 0.2em;
  background-color: black;
  padding: 10px 10px;
  font-size: 12px;
  font-family: Helvetica, Helvetica, sans-serif;
  border-radius: 8px;
  border: 1px solid #ccc;;
}

.button:hover {
  background-color: darkgray;
}

form {
  display: grid !important;
  place-items: center !important;
  border: 1px solid white;
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
}

#delete-button {
  background-color: black;
  color: white;
  border: 1px solid white;
}

#delete-button:hover {
  background-color: darkgray;
}

#edit-button {
  background-color: black;
  color: white;
  border: 1px solid white;
}
#edit-button:hover {
  background-color: lightgrey;
}
.edit {
  display: none;
  max-width: 400px;
  padding: 1em;
  text-align: center;
}

.editor-button {
  background-color: black;
  color: white;
  border: 1px solid white;
  margin-top: 10px;
}

.editor-button:hover {
  background-color: lightgrey;
}